html, body {
    margin: 0;
    padding: 0;
    background-color: #f6f7f9;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 100px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .light-button {
    margin-left: 20px;
}

.fixed-container {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 20px;
}

.first-block {
    height: 450px;
    padding: 0;
}

.first-block > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('img/Изображение с человеком/man.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

.first-block h1 {
    margin: 0;
    font-size: 50px;
}

.first-block button {
    margin: 20px 0 0;
}

.second-block h2 {
    margin: 50px 0;
    font-size: 35px;
}

.services {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.services > div {
    width: 150px;
}

.services img {
    width: 110px;
    height: 110px;
}

.services p {
    margin: 30px 0;
    font-size: 11px;
}
.third-block {
    margin: 70px 0;
}

.third-block h2 {
    margin: 50px 0 40px;
    font-size: 35px;
}

.works {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.works > div {
    width: 300px;
}

.works img {
    width: 300px;
    height: 200px;
}

.works p {
    margin: 15px 0;
    font-size: 12px;
}

.price-info {
    background-color: #3d52fe;
    color: white;
}

.price-info h2 {
    width: 50%;
    font-size: 36px;
}

.price-info p {
    margin: 70px 0;
    width: 50%;
    font-size: 12px;
}

.light-button {
    border: 1px solid black;
    background-color: transparent;
}

button {
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}

.dark-button {
    background-color: #3d52fe;
    border: 1px solid #3d52fe;
    color: white;
}

footer {
    padding: 70px 0 70px;
}

.popup-container {
    background-color: #000000b3;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup button {
    padding: 15px;
}

.popup input:focus {
    outline: none;
    border-color: #3d52fe;
    box-shadow: 0 0 0 3px rgba(61, 82, 254, 0.3);
}

a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

a:hover {
    color: black;
    text-decoration: underline;
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column > *:not(:last-child) {
    margin-bottom: 10px;
}

.footer-contacts p {
    margin: 0;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.social-icons a {
    margin: 0
}

.social-icons {
    display: flex;
    align-items: flex-end;
    gap: 25px;
}

.social-icons img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}
